html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* whole page */
html {
  font-size: 125%;
  background-color: rgba(243, 187, 174, 0.3);
}

.App {
  text-align: center;
}

.wrapper {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
}

/* navigation */
nav {
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  width: 25%;
  text-align: center;
  padding: 20px 40px;
}

.menu {
  color: #dd5772;
  font-family: 'Tourney', cursive;
  font-weight: 900;
  font-size: 2rem;
}

nav p {
  font-family: 'Roboto', sans-serif;
}

nav a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  color: #e77e60;
}

nav a:hover {
  background-color: rgba(226, 138, 146, 0.5);
  border-radius: 10px;
  color: white;
}

/* main ---li container-- */
.container2 {
  width: 75%
}

h1 {
  color: #dd5772;
  font-family: 'Tourney', cursive;
  font-weight: 900;
  font-size: 6rem;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  border: 1px solid gray;
  padding: 10px 20px;
}

button {
  color: white;
  background-color: #dd5772;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #d48a99;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-family: 'Tourney', cursive;
  font-weight: 900;
  border: none;
}

button:hover, button:focus {
  transform: translateY(7px);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.text-container li {
  background-color: white;
  color: black;
  width: 90%;
  border: 10px solid #e77e60;
  border-radius: 3px;
  margin: 10px 10px 10px 0;
  overflow-x: auto;
}

.text-container p a {
  color: skyblue;
  text-align: right;
}

.text-container p a:hover,
.text-container p a:focus {
  color: red;
}

/* footer */
footer {
  background-color: #e69883;
  padding: 8px 20px;
}

footer p {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Tourney', cursive;
  font-weight: 900;
}

footer a {
  color: black;
}


/* screen sizes */
@media (max-width: 900px) {
  nav p {
    font-size: 0.8rem;
  }
}

@media (max-width: 790px) {
  nav {
    display: none;
  }
  .container2 {
    width: 100%;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 4rem;
  }
  textarea {
    rows: 5;
  }
}


